		<!--<h1 style=color:white> Idealist : 전체 상품 진열 페이지입니다. </h1>-->

<head>
	<link type="text/css" rel="stylesheet" href="newmain.css" />
</head>

<body>
<!-- Wrapper -->
	<div id="wrapper">
		<h2>  <%= current_user.email%> </h2>
		<h3><%=image_tag("user.png",style: 'width:25px; height:25px;')%> <%= current_user.nickname%></h3>
		<!--<a href = '/users/sign_out'> LOG OUT </a>-->


		</br>
		<form action="/" method="get"><button type="submit">메인으로 가기</button></form>
		<form action="/uploadIdea" method="get"><button type="submit" name ="loginbotton">상품 등록하기</button></form></br>
		
		<!--상품 진열 배치 해주세요ㅠㅠ-->
		<div class="ideaWrapper">
			<div class="sq">
			<%@posts.each do |post|%>
			<div class="idea_item">
				<%= image_tag post.img.url, style: 'width:340px; height:250px;'%>
				<h2><%=post.title%></h2>
				<form action="/clickIdea/<%=post.id%>" method="get"><button type="submit">상품보기</button></form>
				<h4><%=image_tag("icon1.png")%><%=post.likes.size%></h4>
			</div>
			<%end%>
			</div>
		</div>
		

	<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; EwhaLikelion. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>
			
	</div>	
	
<!-- BG -->
	<div id="bg"></div>
</body>